@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home";
}

<head>

    <style>
        #logo {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
        }

        .card {
            border: none;
            transform: transform 0.3s ease;
            cursor: pointer;
        }

            .card:hover {
                transform: translateY(-15px);
            }

        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .dropdown-menu {
            min-width: 140px;
            right: 0;
            left: auto;
        }
    </style>
</head>


<div>

    <!--navbar-->

    <nav id="navBar" class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand my-2 text-white" asp-controller="Admin" asp-action="AdminPage" ><i class="fa-solid fa-truck"></i> Fleetora  </a>

            <!-- Toggler added here -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="dropdown">
            <a class="nav-link mx-2 text-white" style="cursor: pointer;">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <form asp-controller="PerformanceAnalysis" asp-action="Logout" method="post" class="dropdown-item p-0">
                        <button type="submit" class="btn text-danger w-100 text-start">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row g-4 mt-5 ms-auto me-auto">
        <!--CARD-1-->

        <div class="col-md-4 col-lg-3">
            <a asp-controller="VehicleManagement" asp-action="Vehicle_Management" style="text-decoration: none;">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-1">Vehicle Management</h5>
                        <i class="fas fa-truck  fa-5x my-4 text-primary"></i>
                    </div>
                </div>
            </a>
        </div>

        <!--CARD-2-->

        <div class="col-md-4 col-lg-3">
            <a asp-controller="TripScheduling" asp-action="Trip_Scheduling" style="text-decoration: none;">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-1">Trip Scheduling</h5>
                        <i class="fas fa-route fa-5x my-4 text-primary"></i>
                    </div>
                </div>
            </a>
        </div>


        <!--CARD-3-->

        <div class="col-md-4 col-lg-3">
            <a asp-controller="FuelManagement" asp-action="Fuel_Management" style="text-decoration: none;">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-1">Fuel Management</h5>
                        <i class="fas fa-gas-pump fa-5x my-4 text-primary"></i>
                    </div>
                </div>
            </a>
        </div>


        <!--CARD-4-->
        <div class="col-md-4 col-lg-3">
            <a asp-controller="MaintenanceTracking" asp-action="Maintenance_Tracking" style="text-decoration: none;">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-1"> Maintenance Tracking</h5>
                        <i class="fas fa-tools fa-5x my-4 text-primary"></i>
                    </div>
                </div>
            </a>
        </div>

        <!--CARD-5-->
        <div class="col-md-4 col-lg-3">
            <a asp-controller="PerformanceAnalysis" asp-action="Performance_Analysis" style="text-decoration: none;">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-1"> Performance Analysis</h5>
                        <i class="fas fa-chart-line fa-5x text-primary my-4"></i>
                    </div>
                </div>
            </a>
        </div>
        


    </div>

</div>

