@model List<FleetManagementSystem.Models.Trip_Scheduling>

@{
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
    ViewData["Title"] = "History";
}

<link href="/css/DriverPage.css" rel="stylesheet" />
@* <h1 style="margin-top:100px;align-items:center">Ride History</h1> *@
<div style="margin-top:100px">
@if (Model != null && Model.Any())
{
    foreach (var trip in Model)
    {
        <div class="container">
            <div class="card shadow-lg rounded p-4 mt-2">
                @* <div class="close-btn" onclick="this.parentElement.style.display='none';">×</div> *@
                <h4 class="text-center mb-4 text-primary">PickUp Details</h4>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <strong>Name:</strong> @trip.Firstname
                    </div>
                    <div class="col-md-6">
                        <strong>Phone Number:</strong> @trip.PhoneNumber
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Pickup Address:</strong> @trip.PickupPoint
                    </div>
                    <div class="col-md-6">
                        <strong>Drop Address:</strong> @trip.DropPoint
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p class="text-center mt-5">No ride history available.</p>
}
</div>