@model FleetManagementSystem.Models.Trip_Scheduling

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Fleet Booking";
}

@if (TempData["FleetBooked"] != null && (bool)TempData["FleetBooked"])
{
    <div class="alert alert-success alert-dismissible fade show " style="margin-top:55px" role="alert">
        <strong>✅ Thank you for booking!</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top:55px">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active " data-bs-interval="3000">
            <img src="../assets/artem-balashevsky-ZhNYKwjRMh4-unsplash.jpg" class="d-block w-100"
                 style="height: 80vh; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(255, 255, 255);font-family: fantasy;font-size: x-large; margin-bottom: 25%;">
                    "Delivering
                    Excellence, One Mile at a Time."
                </h5>
                <p>"Driven by purpose, powered by precision—your journey starts here."</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../assets/rodrigo-abreu-lq9PxpwDZUk-unsplash.jpg" class="d-block w-100"
                 style="height: 80vh; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(15, 15, 15);font-family: fantasy;font-size: x-large; margin-bottom: 35%;">
                    We move more
                    than goods—we move expectations.
                </h5>

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../assets/tiry-nelson-gono-h-kD4142VIQ-unsplash.jpg" class="d-block w-100"
                 style="height: 80vh; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(254, 254, 254);font-family: fantasy;font-size: x-large; margin-bottom: 25%;">
                    Driven by
                    Service, Delivered with Care.
                </h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@* Fleet Form*@
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card p-4 shadow-md justify-content-center align-items-center bg-white rounded border"
                 id="fleetbooking">
                <h2 class="mb-4 text-center">Fleet Booking</h2>
                <form asp-controller="TripScheduling" asp-action="AddTrip" asp-validation-summary="ModelOnly" id="myForm">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label asp-for="Firstname" class="form-label">First Name</label>
                            <input asp-for="Firstname" type="text" id="firstname" class="form-control" placeholder="Enter your first name" pattern="[A-Za-z]+" title="Only letters allowed">
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label asp-for="Lastname" class="form-label">Last Name</label>
                            <input asp-for="Lastname" type="text" id="lastname" class="form-control" placeholder="Enter your lastname" pattern="[A-Za-z]+" title="Only letters allowed">
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                        <input asp-for="PhoneNumber" type="tel" id="phno" class="form-control" placeholder="Enter your mobile number">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label asp-for="PickupPoint" class="form-label">Pick Up Address</label>
                            <input asp-for="PickupPoint" type="text" class="form-control" placeholder="Enter your pickup address" />
                            <span asp-validation-for="PickupPoint" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="DropPoint" class="form-label">Drop Point</label>
                            <input asp-for="DropPoint" type="text" class="form-control" placeholder="Enter your drop address" />
                            <span asp-validation-for="DropPoint" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="VehicleType" class="form-label">Vehicle Type</label>
                            <select asp-for="VehicleType" class="form-select" required>
                                <option value="">Select Vehicle</option>
                                <option value="4Wheeler">Mini Truck</option>
                                <option value="6Wheeler">6 Wheeler</option>
                                <option value="10Wheeler">10 Wheeler</option>
                            </select>
                            <span asp-validation-for="VehicleType" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="BookingTime" class="form-label">Booking Time</label>
                            <input asp-for="BookingTime" type="datetime-local" class="form-control"
                                   min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                            <span asp-validation-for="BookingTime" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="text-center mt-2"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
        const alert = document.querySelector('.alert');
        if (alert) {
            alert.classList.remove('show'); // fade out
            setTimeout(() => {
                alert.remove(); // remove from DOM after fade
            }, 500); // wait for fade-out animation to finish
        }
    }, 4000);
</script>

