@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Customer Page";
}

@* Carasouel Part of customer page*@
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active " data-bs-interval="3000">
            <img src="../assets/artem-balashevsky-ZhNYKwjRMh4-unsplash.jpg" class="d-block w-100"
                 style="height: 80vh; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(255, 255, 255);font-family: fantasy;font-size: x-large; margin-bottom: 25%;">
                    "Delivering
                    Excellence, One Mile at a Time."
                </h5>
                <p>"Driven by purpose, powered by precision—your journey starts here."</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../assets/rodrigo-abreu-lq9PxpwDZUk-unsplash.jpg" class="d-block w-100"
                 style="height: 80vh; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(15, 15, 15);font-family: fantasy;font-size: x-large; margin-bottom: 35%;">
                    We move more
                    than goods—we move expectations.
                </h5>

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../assets/tiry-nelson-gono-h-kD4142VIQ-unsplash.jpg" class="d-block w-100"
                 style="height: 80vh; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(254, 254, 254);font-family: fantasy;font-size: x-large; margin-bottom: 25%;">
                    Driven by
                    Service, Delivered with Care.
                </h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@* Fleet Form*@
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card p-4 shadow-md justify-content-center align-items-center bg-white rounded border"
                 id="fleetbooking">

                <h2 class="mb-4 text-center">Fleet Booking</h2>
                <form id="myForm">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" id="firstname" class="form-control" placeholder="Enter your first name">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" id="lastname" class="form-control" placeholder="Enter your lastname">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phno" class="form-label">Phone Number</label>
                        <input type="tel" id="phno" class="form-control" placeholder="Enter your mobile number">
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="source" class="form-label">Pick Up Address</label>
                            <input type="text" id="source" class="form-control" placeholder="Enter your pickup address">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="destination" class="form-label">Drop Point</label>
                            <input type="text" id="destination" class="form-control" placeholder="Enter your Drop Address">
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div class="mb-3">
                                    <label for="roleSelect" class="form-label">Vehicle Type</label>
                                    <select id="roleSelect" class="form-select" required>
                                        <option value="">Select Vehicle</option>
                                        <option value="user">Mini Truck</option>
                                        <option value="driver">6 Wheeler</option>
                                        <option value="admin">10 Wheeler</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="No.of vehciles" class="form-label">No.of Vehciles</label>
                                <input type="number" class="form-control" id="noofvehicle">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="time" class="form-label">Booking Time</label>
                                <input type="datetime-local" id="time" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Get all radio buttons
    const radios = document.querySelectorAll('input[name="vehicleType"]');
    const dropdownBtn = document.getElementById('vehicleDropdownBtn');

    radios.forEach(radio => {
      radio.addEventListener('change', () => {
        if (radio.checked) {
          dropdownBtn.textContent = radio.value;
        }
      });
    });
</script>
