@model User_Details;
@{
    ViewData["Title"] = "Registration";
}


@* Custom CSS *@

<link href="/css/Login.css" rel="stylesheet" />

<div>
    <!-- Registration-page -->
    <div class="container card login-card p-4 shadow-sm justify-content-center align-items-center">
        <h2 class="mb-4 text-center">Registration Page</h2>

        <form asp-action="RegistrationDetails" asp-controller="Customer" method="post">
            <div class="row">
                <div class="col-6 mb-3">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" id="firstname" class="form-control" placeholder="Enter your first name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-6 mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Enter your last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter your mobile number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6 mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @* <div class="col-6 mb-3">
                    <label asp-for="C" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div> *@
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>

            <div class="row text-center">
                <div class="col-12">
                    <h6 class="mt-3">
                        Already Registered User?
                        <a asp-controller="Customer" asp-action="Login" class="text-decoration-none">Login</a>
                    </h6>
                </div>
            </div>
        </form>
    </div>

    </div>

