body {
    background: #f5f6fa;
}

.sidebar {
    min-height: 100vh;
    background: #242424;
    padding-top: 20px;
    color: white;
}

    .sidebar a {
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

        .sidebar a:hover {
            background: #242424;
            border-radius: 5px;
        }

.profile-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.form-label {
    font-weight: 500;
}
