body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/Media 1 (2).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card {
    border-radius: 12px;
    background-color: #ffffff;
}
